<h3>    This is a detailed description of the computer</h3>

<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <ul>
            brand:<%=computer['brand'] %>
            </ul>
            <ul>
            model: <%=computer['model'] %>
            </ul>
            <ul>
            processor_brand: <%=computer['processor_brand'] %>
            </ul>
            <ul>
            processor_name: <%=computer['processor_name'] %>
            </ul>
            <ul>
            processor_gnrtn: <%=computer['processor_gnrtn'] %>
            </ul>
            <ul>
            ram_gb: <%=computer['ram_gb'] %>
            </ul>
            <ul>
            ram_type: <%=computer['ram_type'] %>
            </ul>
            <ul>
            ssd: <%=computer['ssd'] %>
            </ul>
            <ul>
            hdd: <%=computer['hdd'] %>
            </ul>
            <ul>
            os: <%=computer['os'] %>
            </ul>
            <ul>
            os_bit: <%=computer['os_bit'] %>
            </ul>
            <ul>
            graphic_card_gb: <%=computer['graphic_card_gb'] %>
            </ul>
            <ul>
            weight: <%=computer['weight'] %>
            </ul>
            <ul>
            display_size: <%=computer['display_size'] %>
            </ul>
            <ul>
            warranty: <%=computer['warranty'] %>
            </ul>
            <ul>
            Touchscreen: <%=computer['Touchscreen'] %>
            </ul>
            <ul>
            msoffice: <%=computer['msoffice'] %>
            </ul>
            <ul>
            latest_price: <%=computer['latest_price'] %>
            </ul>
            <ul>
            old_price: <%=computer['old_price'] %>
            </ul>
            <ul>
            discount: <%=computer['discount'] %>
            </ul>
            <ul>
            star_rating: <%=computer['star_rating'] %>
            </ul>
            <ul>
            ratings: <%=computer['ratings'] %>
            </ul>
            <ul>
            reviews: <%=computer['reviews'] %>
            </ul>
        </span>
        
    </div>
    
</div>

